#navContainer{
  border: 3px solid;
  background-color: black;
}

#leftSide{
  border: 1px solid red;
  display: inline-flex;
  width: 400px;
  padding-left: 5px;
}

#rightSide{
  border: 1px solid blue;
  display: inline-flex;
  float: right;
  width: 200px;
}

li{
  list-style: none;
}

.navLeft{
    margin-left: 15px;
    color: white;
    opacity: 65%;
    letter-spacing: 2px;
}

.navRight{
  margin-left: 10px;
  color: white;
  opacity: 65%;
  letter-spacing: 2px;
}

#subNavContainer{
  font-size: 25px;
  text-transform: uppercase;
  display: block;
  border: 3px solid;
}

.subContainer{
  display: inline-block;
  opacity: 60%;
  margin-left: 5px;
  padding-right: 15px;
  letter-spacing: 4px;
}

li:hover{
  opacity: 100%;
}


/* @media all (max-width 900px) {
  #navContainer{
    width: 1000px;
  }
  #leftSide{
    width: 400px;
  }
  #rightSide{
    width: 400px;
  }
  .subContainer{
    width: 800px;
  }

}

@media all (max-width 900px) {
  #navContainer{
    width: 100%;
  }
  #leftSide{
    width: 100%;
  }
  #rightSide{
    width: 100%;
  }
  .subContainer{
    width: 100%;
  }
  li{
    width: 100%;
  } */

}
