#navContainer{
  border: 3px solid;
  background-color: black;

}

#leftSide{
  border: 1px solid red;
  display: inline-flex;
  width: 400px;
  padding-left: 5px;
}

#rightSide{
  border: 1px solid blue;
  display: inline-flex;
  float: right;
  width: 200px;
}


li{
  list-style: none;
}

.navLeft{
    margin-left: 15px;
    color: white;
}

.navRight{
  margin-left: 15px;
  color: white;
}
