#container{
  width: 977px;
  margin: 0px auto;
}

#navContainer{
  border: 3px solid;
  width: 971px;
  background-color: black;
}

#list{
  opacity: 60%;
}


li{
  list-style: none;
}

.navLeft{
    margin-left: 15px;
    color: white;
    opacity: 65%;
    letter-spacing: 2px;
    display: inline;
}

.navRight{
  margin-left: 10px;
  color: white;
  opacity: 65%;
  letter-spacing: 2px;
  display: inline;
  text-align: right;
}

span{
  float: right;
  margin-right: 40px;
}

#subNavContainer{
  width: 971px;
  font-size: 25px;
  text-transform: uppercase;
  display: block;
  border: 3px solid;
}

.subContainer{
  display: inline-block;
  opacity: 60%;
  margin-left: 5px;
  padding-right: 15px;
  letter-spacing: 4px;
}

li:hover{
  opacity: 100%;
  text-decoration: underline;
}

@media screen and (max-width: 976px){
  #container{
    width: 100%;
  }
  #navContainer{
    width: 100%;
  }
  #navSpot{
    width: 100%;
  }
  #list{
    width: 100%;
  }
  #subNavContainer{
    width: 100%;
  }
  span{
    margin-right: 80px;
  }
}

@media screen and (max-width: 600px){
  #container{
    width: 100%;
  }
  #navContainer{
    width: 100%;
  }
  #navSpot{
    width: 100%;
  }
  #list{
    width: 100%;
  }
  #subNavContainer{
    width: 100%;
  }
  .navLeft{
    display: block;
  }
  .navRight{
    display: block;
    text-align: left;
    margin-left: 15px;
  }
  span{
    float: none;
  }
  #subNavContainer{
    width: 100%;
  }
  .subContainer{
    width: 70%;
  }
}

@media screen and (max-width: 350px){
  #container{
    width: 350px;
  }
  #navContainer{
    width: 350px;
  }
  #navSpot{
    width: 350px;
  }
)
